// font-family
$poppins-regular: "Poppins", sans-serif;
// font-weight
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// colors
$white: #ffffff;
$black: #000000;
$cyan: #037a92;
$light-cyan: #d6f0f5;
$yellow: #fecb3e;
$text-clr: #1c1d29;
$orange: #f29441;
$text-clr-gray: #848593;
$bdr-clr: #b8ced2;
$scollbar-clr: #d6f0f5;
$gray-two: #afafaf;
$admin-bg: #f9fbfe;
$adm-text-clr: #1c1d29;
$dropdown-orange: #f8ac68;
$gray: #f2f4f4;
$linkcolor: blue;
$gray2: #f3f6f7;
$dark-blue: #1d3a7c;
$red: #fd8484;
$error: #ec0000;
$green: #03c103;
$cyan2: #03616d;

// utils
$curvy-bdr: 35%;
$default-radius: 0.5rem;
$dropbackgroundarrowcolor: #f2f4f4;
$dropdownmainarrow: #707070;
$Clearoragne: #ea862d;
$ToggleColor: #037a92;
//loaderTransparent

$lightBlack: #00000096;
$viewBack: #e9ecef;

// mixins
@mixin create-square($size, $radius: null) {
  width: $size;
  height: $size;
  @if ($radius) {
    border-radius: $radius;
  }
}

@mixin btn-style($color, $bgColor) {
  color: $color;
  background-color: $bgColor;
  &:hover {
    color: $color;
  }
  &:focus {
    box-shadow: 0 0 0 0.25rem transparentize($bgColor, 0.75);
  }
}

@mixin add-droparrow($bgColor, $arrowColor) {
  @include create-square(1rem, 50%);
  background-color: $dropbackgroundarrowcolor;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  z-index: 1;
  cursor: pointer;
  &::after {
    content: "";
    @include create-square(0.35rem);
    border-style: solid;
    border-color: $dropdownmainarrow;
    border-width: 0 0 1px 1px;
    transform-origin: center;
    transform: translate(1px, -1px);
  }
}
.colour {
  position: relative;
}
.leHOWN {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 27px;
  margin: auto;
  width: 12px;
  height: 3px;
  border-radius: 3px;
  background: linear-gradient(
    to right,
    rgb(101, 84, 192) 25%,
    rgb(0, 184, 217) 25%,
    rgb(0, 184, 217) 50%,
    rgb(255, 153, 31) 50%,
    rgb(255, 153, 31) 75%,
    rgb(222, 53, 11) 75%
  );
}
.leHOWNBG {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 27px;
  margin: auto;
  width: 40%;
  height: 3px;
  border-radius: 3px;
  background: rgb(101, 84, 192);
}

.editor__color__platte {
  position: absolute;
  top: 44px;
  left: -64px;
  width: 206px;
  height: auto;
  background: #f5f5f5;
  padding: 0.5em;
  border: solid 1px #ddd;
  z-index: 9;

  > button {
    padding: 0;
    min-height: 24px !important;
    width: 22px;
    position: absolute;
    right: -5px;
    top: -10px;
    background: #f2f4f4;
    line-height: 0;
    color: #008b8b;
    border-radius: 50%;
    font-weight: bold;
    font-size: 12px;
  }

  > ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;

    li {
      width: 30px;
      height: 30px;
      margin-right: 0.5rem;
      margin-bottom: 0.5em;
      border-radius: 2px;
      > input {
        width: 30px;
        opacity: 0;
        height: 30px;
        cursor: pointer;
        &:active {
          border: solid;
        }
      }
    }
  }
}
